html{
	overflow-x:hidden;
}

.champs {
 height: 40px;
  width: 250px;
  border-radius: 5px;
  border-width: medium;
  padding-left: 3%;
}

#lienRecherche,#logOut,#lienReservation,#lienpost{
    ;
}

notfound,noreservation,nopost{
    display: none;
}

.listFlight,#notfound,#noreservation,#nopost{
	background-color:#f2f2f2;
	padding: 10px;
	margin-top:15px;
	margin-bottom:15px;
    color: black;
}

#nbPlace{
    width:35%;
    height: 15px;
}

.reserver{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 55px;
    border-color:#2C2E3E
}
.reserver:hover{
    background-color: #2C2E3E;
    color:white;
}

.maps{
    width: 100%;
    border-radius: 5px;
    height: 55px;
}

#search{
    background-color: lightgray;
    width: 20%;
}


nav {
  /*background: rgba(50, 50, 50, 0.75)!important;
  border-color: rgba(50, 50, 50, 0.60)!important;*/
  z-index: -1000;
}


.logo{
  color:rgb(30,144,255)!important;
}

.links{
  padding-right: 5px;
}

.navbar-header {
   padding-left: 5px;
}

.navbar-header > a {
   height: auto;
   width: auto;
   margin: auto;
   padding-top: 19.5px;
   padding-bottom: 19.5px;
   line-height: 27px;
   font-size: 21px;
   font-weight:800px;
   color: whitesmoke!important;
}

.navbar-default .navbar-nav>li>a:hover{
  color: whitesmoke!important;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a{
  color: whitesmoke!important;
  font-size: 110%;
  font-weight: 800;
}

.navbar-nav li {
  display: inline-block!important;
  /*font-size: 18px;*/
  text-align: center;
  padding-right: 15px;
}

@media (min-width: 750px) {
 .navbar-nav > li > a {
   padding-top: 19.5px;
   padding-bottom: 19.5px;
   line-height: 27px;
 }
}

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_content
{
	width: 100%;
	height: 148px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_content_inner
{
	width: 100%;
}
.logo a
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
}


.navbar-default.scrolled {
    background: rgba(50, 50, 50, 0.75)!important;
    color: #ff5f5f !important; 
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header > h3,p{
 text-align: center;
}

.modal-footer button{
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}



.btn-group > .btn-secondary{
  background-color: blue;
  color: white;
}

.error-form{
  text-align:center;
}

#connectuser {
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  cursor: pointer !important;
  width: 100% !important;
  height: 45px;
  background-color: rgb(205,92,92)!important;
  border: none!important;
}

#createUser {
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  cursor: pointer !important;
  width: 100% !important;
  height: 45px;
  background-color: rgb(205,92,92)!important;
  border: none!important;
}

#formsignin > .champs{
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  cursor: pointer !important;
  width: 100% !important;
  height: 35px;
}

#formsignin > h4{
  position: relative !important;
  text-align: center !important;
}


#formsignup > .champs{
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
  cursor: pointer !important;
  width: 100% !important;
  height: 35px;
}

#formsignup > h4{
  position: relative !important;
  text-align: center !important;
}
.onoffswitch {
	    position: relative;
       width: inherit;
	    -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select: none;
	}

	.onoffswitch-checkbox {
	    display: none;
	}

	.onoffswitch-label {
	    display: block; overflow: hidden; cursor: pointer;
	    border: 2px solid #999999; border-radius: 20px;
	}

  .onoffswitch-inner {
	    width: 200%; margin-left: -100%;
	    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
	}

	.onoffswitch-inner:before, .onoffswitch-inner:after {
	    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}

	.onoffswitch-inner:before {
		content: "PILOT";
	  background-color: #34A7C1; color: #FFFFFF;
    text-align: center;
	}

	.onoffswitch-inner:after {
		content: "PASSENGER";
	  background-color: #EEEEEE; color: #999999;
	  text-align: center;
	}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  	    margin-left: 0;
}
  
        

